@font-face {
    font-family: VerdanaLoc;
    src: url("./Verdana.ttf");
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    background-color: #000;
    font-family: VerdanaLoc;
}

.app {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    width: 100vw;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.chat-line {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 12px;
    align-items: baseline;
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(20px);
    animation: floatUp 0.3s ease forwards;
}

@keyframes floatUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.chat-meta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
    text-align: right;
    align-items: baseline;
    overflow: hidden;
}

.chat-content {
    word-break: break-word;
    overflow-wrap: break-word;
    line-height: 1.4;
    min-width: 0;
    width: 100% !important;
}

.mention {
    background-color: lightyellow;
}

.chat-meta img {
    transform: translateY(4px);
}

.mention {
    background-color: rgba(145, 70, 255, 0.4);
    color: white;
    font-weight: 700;
    border-radius: 4px;
    padding: 0 4px;
    display: inline-block;
    line-height: 1.2;
}

.emote-stack {
    display: inline-grid !important;
    vertical-align: middle;
    margin: 0 2px;
}

.emote-stack img.base-emote {
    grid-area: 1 / 1;
    object-fit: contain;
    z-index: 1;
}

.emote-stack img.overlay-emote {
    grid-area: 1 / 1;
    place-self: center;
    object-fit: contain;
    z-index: 2;
    width: 100%;
    height: 100%;
}
